@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

/*
font-family: 'Archivo', sans-serif;
font-family: roc-grotesk, sans-serif;
*/

:root {
    --corPrimaria:#FFD140;
    --corSecundaria:#101920;
    --corTerciaria:#3080E3;
    --corQuartenaria:#FEF9F3;
    --preenchimentoPadrao: 0 216px;
    --fonteTitulo:roc-grotesk, sans-serif;
    --fonteTexto:'Archivo', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* body {
    max-width: ;
    min-width: ;
} */

header{
    font-family: 'Archivo', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 32px 216px;
}

h1{
    height: 60px;
    width: 212px;
    background: url("../imgs/logo.svg");
    text-indent: -9999px;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin-right: 26px;
}

nav ul li a{
    color: #999;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    padding: 0 10px;
}

nav ul li a.ativo{
    font-weight: bold;
    color: #000;
   
}

nav ul li:last-child{
    margin-left: 84px;
}

nav ul li a:hover::after{
    content: "";
    position:absolute;
    bottom:-8px;
    left: 15px;
    width:60%;
    border-bottom:3px solid #307FE2;
    border-radius: 50px;
}

main {
    background-color: var(--corSecundaria);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: space-around; */
    column-gap: 86px;
    padding: var(--preenchimentoPadrao);
    /* align-items: center; */
}

main h2 {
    font-family: var(--fonteTitulo);
    font-size: 85.82px;
    color: var(--corQuartenaria);
    margin-top: 8.125rem;
    margin-bottom: 3.688rem;
}

main h2 span {
    color: var(--corPrimaria);
}

main p {
    font-family: var(--fonteTexto);
    font-size: 24px;
    color: var(--corQuartenaria);
    margin-bottom: 3.25rem;
}

main p span {
    color: var(--corTerciaria);    
}

main a {
    font-family: var(--fonteTitulo);
    font-size: 29.11px;
    font-weight: bold;
    color: var(--corQuartenaria);
    background-color: var(--corTerciaria);
    padding: 27.53px 30px 24.48px 38px;
    border-radius: 10px;
}

main div#modelo img {
    margin-top: 10rem;
    margin-bottom: 6.75rem;
}

section#episodios {
    font-family: var(--fonteTitulo);
    background-color: var(--corQuartenaria);
}

section#episodios h3 {
    font-size: 39.5px;
}

section#episodios h3::before {
    content: url(../imgs/Info.png);
    width: 24.69px;
    height: 24.69px;
}

section#episodios p {
    margin-top: 64px;
    margin-bottom: 35px;
}

section#episodios a {
    font-weight: bold;
    background-color: var(--corTerciaria);
    color: var(--corQuartenaria);
    padding: 12.14px 49.33px 9.86px 50px;
    border-radius: 6.19px;
}

section#formulario {
    background-color: var(--corTerciaria);
    font-family: var(--fonteTitulo);
    color: var(--corQuartenaria);
}

section#formulario h4 {
    font-size: 75.24px;
}

section#formulario p {
    font-size: 24px;
}

section#formulario form input.borda10 {
    border-radius: 10px;
}

section#formulario form input[type="submit"] {
    background-color: var(--corPrimaria);
    border-radius: 5.87px;
}

footer {
    background-color: var(--corSecundaria);
    font-family: var(--fonteTitulo);
    font-size: 24px;
    color: var(--corQuartenaria);
}

footer a {
    color: var(--corQuartenaria);
}
