@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

/*
font-family: 'Archivo', sans-serif;
font-family: roc-grotesk, sans-serif;
*/

:root {
    --corPrimaria:#FFD140;
    --corSecundaria:#101920;
    --corTerciaria:#3080E3;
    --corQuartenaria:#FEF9F3;
    --preenchimentoPadrao: 0 216px;
    --fonteTitulo:roc-grotesk, sans-serif;
    --fonteTexto:'Archivo', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* body {
    max-width: ;
    min-width: ;
} */

/* Cabeçalho */

header{
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    background-color: var(--corQuartenaria);
    padding: 16px 352px 16px;
    position: sticky;
    top: 0;
}

header > div {
    display: flex;
    justify-content: space-between;
    max-width: 1216px;
    align-items: center;
}

h1{
    height: 60px;
    width: 212px;
    background: url("../imgs/logo.svg");
    text-indent: -9999px;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin-right: 26px;
}

nav ul li a{
    color: #999;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    padding: 0 10px;
}

nav ul li a.ativo{
    font-weight: bold;
    color: #000;
   
}

nav ul li:last-child{
    margin-left: 84px;
}

nav ul li a:hover::after{
    content: "";
    position:absolute;
    bottom:-8px;
    left: 15px;
    width:60%;
    border-bottom:3px solid #307FE2;
    border-radius: 50px;
}

/* Area Principal */

main {
    background-color: var(--corSecundaria);
     display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding: var(--preenchimentoPadrao);
    justify-content: center;
}


main > div {
    align-items: center; 
    max-width: 1008px;
    display: flex;
    column-gap: 138px;
    margin: 95px 0;
} 

main h2 {
    font-family: var(--fonteTitulo);
    font-size: 85.82px;
    color: var(--corQuartenaria);
    margin-bottom: 38px;
}

main h2 span {
    color: var(--corPrimaria);
}

main p {
    font-family: var(--fonteTexto);
    font-size: 24px;
    color: var(--corQuartenaria);
    margin-bottom: 79.52px;
}

main p span {
    color: var(--corTerciaria);    
}

main a {
    font-family: var(--fonteTitulo);
    font-size: 29.11px;
    font-weight: bold;
    color: var(--corQuartenaria);
    background-color: var(--corTerciaria);
    padding: 27.53px 30px 24.48px 38px;
    border-radius: 10px;
}

/* main div div#modelo img {
    margin-top: 10rem;
    margin-bottom: 6.75rem;
} */

/* Secao Episodios */

section#episodios {
    font-family: var(--fonteTitulo);
    background-color: var(--corQuartenaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#episodios div {
    margin: 120px 0;
    max-width: 1008px;
}

section#episodios h3 {
    text-align: center;
    font-size: 39.5px;
    margin-bottom: 68px;
}

section#episodios h3::before {
    content: url(../imgs/Info.png);
    width: 24.69px;
    height: 24.69px;
}

section#episodios div ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 24px;
    row-gap: 24px;
    justify-content: center;
}

section#episodios p {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #9FA3A6;
    margin-top: 64px;
    margin-bottom: 35px;
}

section#episodios a {
    font-family: var(--fonteTexto);
    font-weight: 700;
    display: flex;
    justify-content: center;
    /* font-weight: bold; */
    background-color: var(--corTerciaria);
    color: var(--corQuartenaria);
    padding: 14px 50px;
    margin: 0 432px;
    border-radius: 6px;
}

/* Secao Formulario */

section#formulario {
    background-color: var(--corTerciaria);
    font-family: var(--fonteTitulo);
    color: var(--corQuartenaria);
}

section#formulario h4 {
    font-size: 75.24px;
}

section#formulario p {
    font-size: 24px;
}

section#formulario form input.borda10 {
    border-radius: 10px;
}

section#formulario form input[type="submit"] {
    background-color: var(--corPrimaria);
    border-radius: 5.87px;
}

/* Rodape */

footer {
    background-color: var(--corSecundaria);
    font-family: var(--fonteTitulo);
    font-size: 24px;
    color: var(--corQuartenaria);
}

footer a {
    color: var(--corQuartenaria);
}
